body {
    font-family: 'Baloo 2', serif !important;
    word-wrap: break-word !important;
}
.navbar .nav-link{
    font-size: 18px;
    font-weight: 700 !important;
}
.border-orange{
    border: 1px solid #F18C14 !important;
}
.circle {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    padding: 15px;
}
.rgba-orange-strong{
    background-color: #F18C14 !important;
}
.deep-orange {
    background-color: #F18C14 !important;
}
.orange-text{
    color: #F18C14 !important;
}
.border-orange{
    border-color: #F18C14 !important;
}
.btn-orange {
    color: #fff;
    background-color: #F18C14 !important;
}
.list-group .list-group-item:first-child{
    border-top: 1px solid  #F18C14 !important;
}
.list-group-item{
    border-color: #F18C14 !important;
    padding-left: 3px;
    padding-right: 0px;
}
.btn-rounded {
    border-radius: 10em;
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.card{
    border-radius: .65rem;
    overflow: hidden;
}
